<html>

<head>
</head>

<body>

    <h2>Grade Statistics</h2>

    {% if error_message %}
    <p style="color: red; font-weight: bold;">{{ error_message }}</p>
    {% endif %}

    <form method="post" action="/">
        <label for="grades">Cutoffs:</label></br>
        <textarea id="cutoffs" name="cutoffs" rows="6" cols="10">{{ default_cutoffs }}</textarea></br>
        <label for="grades">Grades to plot:</label></br>
        <textarea id="grades" name="grades" rows="10" cols="10">{{ default_grades }}</textarea>
        <br><br>
        <input type="submit">
    </form>
</body>

</html>
